.search-bar {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff;
    padding: var(--header-padding);
}

.search-bar > .search-input {
    flex-grow: 2;
    font-size: var(--header-font-size);
    border: none;
}

.search-bar > .search-input:focus {
    outline: 0;
}

.search-bar > .btn-close {
    color: black;
}
